<!--
  Generated template for the AddSignalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>
      IR-Station
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segmento" (click)="selecionarSegmento()" color="dark">
      <ion-segment-button value="Dispositivo">
        <!-- <ion-icon name="hand"></ion-icon> -->
        Dispositivo
      </ion-segment-button>
      <ion-segment-button value="Sinal">
        <!-- <ion-icon name="clock"></ion-icon> -->
        Sinal
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<!--Dispositivo-->
<ion-content padding [hidden]="ligado" class="bodyIonicApp">

  <ion-list>
    <ion-item-sliding *ngFor="let device of getKeys(data.devicesListMap), let i = index" #item>
      <ion-item>
        {{device}}
        <ion-icon class="ios-add-size icon icon-md ios-arrow-forward"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button danger (click)="editDevice(device,item)" ion-button><ion-icon name="trash"></ion-icon> Editar</button>
        <button danger (click)="removeDevice(device,item)" ion-button color="danger"><ion-icon name="trash"></ion-icon> Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<!--Sinal-->
<ion-content padding [hidden]="!ligado" class="bodyIonicApp">

  <ion-list radio-group [(ngModel)]="deviceRadio">
    <ion-item *ngFor="let device of getKeys(data.devicesListMap)">
      <ion-label>{{device}}</ion-label>
      <ion-radio value="{{device}}" checked (ionSelect)="radio_select(device)"></ion-radio>
    </ion-item>
  </ion-list>


    <ion-list [hidden]="!listaSinal">
    <ion-item-sliding *ngFor="let signal of data.devicesListMap.get(deviceRadio)" #item>
      <ion-item>
        {{signal.name[1]}}
        <ion-icon class="ios-add-size icon icon-md ios-arrow-forward"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button danger (click)="editItem(deviceRadio,signal,item)" ion-button><ion-icon name="trash"></ion-icon> Editar</button>
        <button danger (click)="removeItem(signal,item)" ion-button color="danger"><ion-icon name="trash"></ion-icon> Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>