<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Principal" tabIcon="home"></ion-tab>  
  <ion-tab [root]="tab2Root" tabTitle="Adicionar Sinal" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Editar Sinal" tabIcon="create"></ion-tab>
 
</ion-tabs>
