<!--
  Generated template for the AddSignalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        
     
      <ion-title text-center>
        IR-Station
      </ion-title>
  
      
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

    <ion-list radio-group [(ngModel)]="deviceRadio">
        
    
          <ion-item *ngFor="let device of getKeys(data.devicesListMap)">
      <ion-label>{{device}} </ion-label>
      <ion-radio value="{{device}}" checked (ionSelect)="radio_select('noncgt')"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>Outro </ion-label>        
      <ion-radio value="other" (ionSelect)="radio_select('cgt')">          
      </ion-radio>
    </ion-item>
    <ion-item *ngIf="cn" >
      <ion-label>Nome: </ion-label>
      <ion-input type="text" [(ngModel)]="deviceName" ></ion-input>
    </ion-item>
   
    
      
  </ion-list>

  <ion-item>
    <ion-label>Sinal: </ion-label>
    <ion-input type="text" [(ngModel)]="SignalName"></ion-input>
  </ion-item>
  

    


<div text-center="">    
    <button ion-button color="primary" (click)="salvar()">Salvar</button>
</div>
        
  
    
   
</ion-content>
