page-add-signal {
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block !important;
      }
      .scroll-content{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

}
