<ion-header>

  <ion-navbar>
      
   
    <ion-title text-center>
      IR-Station
    </ion-title>

    
  </ion-navbar>

</ion-header>

<ion-content no-bounce>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Puxe para atualizar"
          refreshingSpinner="circles"
          refreshingText="Atualizando...">
        </ion-refresher-content>
      </ion-refresher>


  <ion-card *ngFor="let device of getKeys(data.devicesListMap)">

      <ion-card-header text-center class="card-title">
          {{device}}
      </ion-card-header>
      <ion-card-content >
          <ion-grid>
          <ion-row>
              <ion-col *ngFor="let signal of data.devicesListMap.get(device)">
                <button ion-button round full (click)="sendSignal(signal.id)">{{ signal.name[1] }}</button>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
