page-home {
    
    .card-title {
        font-weight: bold;
        color: #fff;
        background: #4b4b4b;
        
      }

      .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .scroll-content{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
  

      
}



  

