<!--
  Generated template for the WizardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons left>
          <button ion-button icon-only [hidden]="!showBack()" (click)="slidesBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Wizard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="refresherEnabled">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Puxe para atualizar"
        refreshingSpinner="circles"
        refreshingText="Atualizando...">
      </ion-refresher-content>
    </ion-refresher>
  <ion-slides>
    <ion-slide>
     
      <ion-list>
          <button ion-item (click)="wifiClick(oculta)">
              <ion-icon name="wifi" item-start></ion-icon>
              Configurar rede oculta    
            </button>
          <button ion-item *ngFor="let wifi of wifiList" (click)="wifiClick(wifi)">
              <ion-icon name="wifi" item-start></ion-icon>
              {{wifi}}    
            </button>
      </ion-list>


      
    </ion-slide>
    <ion-slide>
        
      <h1>Conectar a:</h1>
      <ion-list>

      <ion-item>
      <ion-label stacked>SSID:</ion-label>
      <ion-input type="text" name="wifiSSID" [(ngModel)]="wifiSSID"  [disabled]="wifiSSID!=''" ></ion-input>
      
      </ion-item>


      <ion-item>
      <ion-label stacked>Senha:</ion-label>
      <ion-input type="{{type}}" name="password" [(ngModel)]="wifiPASS" required pattern=".{4,10}"></ion-input>
      
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-off-outline"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="ios-eye-outline"></ion-icon></button>
      
     </ion-item>


     <ion-item>
    <ion-label stacked>HostName:</ion-label>
    <ion-input required type="text" name="hostname" [(ngModel)]="hostname"></ion-input>
    
    </ion-item>



    </ion-list>
    
      <button ion-button [disabled]="disableSave()" (click)="saveWifi()">
        Save
      </button>
    </ion-slide>


    <ion-slide>
      <h1>Configurando</h1>
      <button ion-button (click)="confirmWifi()">
          Confirmar
        </button>
    </ion-slide>
  </ion-slides>
</ion-content>
