page-wizard {
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .scroll-content{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    
   
}
