<!--
  Generated template for the FirtrunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Configuraçao Inicial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let servico of servicoMDNS" (click)="selecionarLuminaria(servico.name, servico.ipv4Addresses)">
      <ion-icon name="wifi" style="text-align: start;"></ion-icon>
      Nome: {{servico.name}}
      <br/> IP: {{servico.ipv4Addresses}}
    </button>
  </ion-list>
</ion-content>
<ion-footer>
  <button ion-button color="primary" icon-left full (click)="watchMDNS()">
    <ion-icon name="refresh-circle"></ion-icon>
    Localizar Novamente
  </button>
</ion-footer>
